body {
    background: #222;
    color: #eee;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

.cardheader {
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin: auto;
    width: 220px;
}


.card {
    margin: auto;
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 200px;
    background: linear-gradient(145deg, #242424, #1f1f1f);
    box-shadow:  30px 30px 60px #111111, 
             -30px -30px 60px #333333;
    color: #eee;
    padding: 10px;
    border-radius: 10px;
}

.question {
    color: #d82629;
}
.cardfooter {
    position: relative;
    top: 20px;
    display: flex;
    flex-direction: column;
    height: 50px;
    width: 200px;
    background: linear-gradient(145deg, #242424, #1f1f1f);
    box-shadow:  30px 30px 60px #111111, 
             -10px -10px 20px #333333;
    color: #eee;
    padding: 0 10px 10px 10px;
    font-size: 15px;
    align-items: flex-start;
    margin: auto;
}

button {
    border-radius: 5px;
    position: relative;
    background: linear-gradient(#d82629, #c6071d);
    border-style: none;
    margin: 5px;
    height: 30px;
    width: 100px;
}

#answerbutton {
    position: relative;
    left: 18%;
    top: 6px;
}

#nextcard {
    position: relative;
    left: 18%;
}